.button {
  background-color: var(--color-pink);
  border: none;
  padding: 0.75em;
  border-radius: 2em;
  color: white;
  cursor: pointer;
}

.input {
  width: 10em;
  text-align: center;
  line-height: 1.5;
}

.form__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  gap: 0.5em;
}

.navigation__section {
  display: flex;
  justify-content: center;
  background-color: var(--color-pink);
  color: white;
  width: 100%;
  line-height: 2em;
}

.navigation__section--body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
}

.text-navigation {
  font-size: 0.8em;
  word-break: keep-all;
}

.border {
  border: 1px solid rgb(104, 104, 104);
}