.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  align-self: center;
}

.navigation__section {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-pink);
  line-height: 2em;
  color: white;
}

@media (min-width:480px) {
  .main {
    width: 90%;
  }
}

@media (min-width:1020px) {
  .main {
    width: 100%;
  }
}